$font-primary: 'Montserrat',Arial, sans-serif;
$font-secondary: 'Yeseva One', cursive;

$white: #fff;
$black: #000000;
// $darken: #3a4348;

$primary: #ff895d;


@mixin gradient-background(){
    background: rgba(8,194,154,1);
    background: -moz-linear-gradient(-45deg, rgba(8,194,154,1) 0%, rgba(22,221,178,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(8,194,154,1)), color-stop(100%, rgba(22,221,178,1)));
    background: -webkit-linear-gradient(-45deg, rgba(8,194,154,1) 0%, rgba(22,221,178,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(8,194,154,1) 0%, rgba(22,221,178,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(8,194,154,1) 0%, rgba(22,221,178,1) 100%);
    background: linear-gradient(135deg, rgba(8,194,154,1) 0%, rgba(22,221,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08c29a', endColorstr='#16ddb2', GradientType=1 );
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}

.avatar {
    border-radius: 50%;
}

html {
    // overflow-x: hidden;
}
body {
    font-family: $font-primary;
    background: $white;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    color: lighten($black,40%);
    &.menu-show {
        overflow: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
    }
}
a {
    transition: .3s all ease;
    color: $primary;
    &:hover, &:focus {
        text-decoration: none;
        color: $primary;
        outline: none !important;
    }
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    font-weight: 400;
}

.text-primary {
    color: $primary!important;
}

.ftco-navbar-light {
    background: transparent!important;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 3;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    @include media-breakpoint-down(md) {
        background: $black!important;
        position: relative;
        top: 0;
    }
    &.awake, & .dropdown-item{
        text-shadow:none;
    }

    .navbar-brand {
        color: $white;
        @include media-breakpoint-up(md){
            color: $white;
        }
        &.navbar-brand-black{
            @include media-breakpoint-up(md){
                color: $black;
            }
        }
    }

    .navbar-nav {
        > .nav-item {
            > .nav-link {
                font-size: 14px;
                padding-top: .9rem;
                padding-bottom: .9rem;
                padding-left: 20px;
                padding-right: 20px;
                color: $white;
                font-weight: 400;
                &:hover {
                    color: $white;
                }
                opacity: 1!important;
            }

            .dropdown-menu{
                border: none;
                background: $white;
                @include transition(.3s);
                border-radius: (0);
                -webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
                -moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
                box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
                .dropdown-item{
                    font-size: 13px;
                    color: rgba(0,0,0,.7);
                    &:hover,&:focus{
                        color: $black;
                        background: transparent;
                    }
                }
            }


            &.ftco-seperator {
                position: relative;
                margin-left: 20px;
                padding-left: 20px;
                @include media-breakpoint-down(md) {
                    padding-left: 0;
                    margin-left: 0;
                }
                &:before {
                    position: absolute;
                    content: "";
                    top: 10px;
                    bottom: 10px;
                    left: 0;
                    width: 2px;
                    background: rgba($white, .05);
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
            }
            &.cta {
                > a {
                    color: $white;
                    border: 1px solid rgba(255,255,255,.4);
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-top: 4px;
                    @include border-radius(30px);
                    span {
                        display: inline-block;
                        color: $white;
                    }
                    &:hover{
                        background: $primary;
                        border: 1px solid $primary;
                    }
                }
                &.cta-colored {
                    span {
                        border-color: $primary;
                    }
                }
            }
            &.active {
                > a {
                    color: rgba(255,255,255,.5);
                }
            }
        }
    }
    .navbar-toggler {
        border: none;
        color: rgba(255,255,255,.5)!important;
        cursor: pointer;
        padding-right: 0;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: .1em;
    }

    &.scrolled  {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        margin-top: -130px;
        background: $white!important;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
        .nav-item {
            &.active {
                > a {
                    color: $primary!important;
                }
            }
            &.cta {
                > a {
                    color: $white !important;
                    background: $primary;
                    border: none !important;
                    padding-top: .5rem!important;
                    padding-bottom: .5rem !important;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-top: 6px !important;
                    @include border-radius(30px);
                    span {
                        display: inline-block;
                        color: $white !important;
                    }
                }
                &.cta-colored {
                    span {
                        border-color: $primary;
                    }
                }
            }
        }

        .navbar-nav {
            @include media-breakpoint-down(md) {
                background: none;
                border-radius: 0px;
                padding-left: 0rem!important;
                padding-right: 0rem!important;
            }
        }

        .navbar-nav {
            @include media-breakpoint-down(sm) {
                background: none;
                padding-left: 0!important;
                padding-right: 0!important;
            }
        }

        .navbar-toggler {
            border: none;
            color: rgba(0,0,0,.5)!important;
            border-color: rgba(0,0,0,.5)!important;
            cursor: pointer;
            padding-right: 0;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: .1em;

        }
        .nav-link {
            padding-top: .9rem!important;
            padding-bottom: .9rem!important;
            color: $black!important;
            &.active {
                color: $primary!important;
            }
        }
        &.awake {
            margin-top: 0px;
            transition: .3s all ease-out;
        }
        &.sleep {
            transition: .3s all ease-out;
        }

        .navbar-brand {
            color: $black;
        }
    }
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
}





.hero-wrap{
    width: 100%;
    height: 100%;
    position: inherit;
    @include media-breakpoint-down(lg){
        background-position: center center !important;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: .2;
        background: $black;
    }

    .slider-text{
        color: $white;
        h1 {
            font-size: 60px;
            color: $white;
            line-height: 1;
            font-weight: 700;
            @include media-breakpoint-down(md) {
                font-size: 40px;
            }
        }
        p {
            font-size: 20px;
            line-height: 1.5;
            font-weight: 300;
            color: rgba(255,255,255,.8);
            strong{
                font-weight: 700;
                a{
                    color: $black;
                }
            }
        }
        .breadcrumbs{
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 1px;
            margin-bottom: 20px;
            z-index: 99;
            span{
                border-bottom: 2px solid rgba(255,255,255,.1);
                color: rgba(255,255,255,.7);
                a{
                    color: $white;
                }
            }
        }
        .bread{
            font-weight: 700 !important;
        }
        .btn-primary{
            border: 1px solid rgba(255,255,255,.4);
            @include border-radius(30px);
            &:hover, &:focus{
                background: $white !important;
                color: $black;
            }
        }
    }
}

//OWL CAROUSEL
.owl-carousel {
    position: relative;
    .owl-item {
        opacity: .4;
        &.active {
            opacity: 1;
        }
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        .owl-prev,
        .owl-next {
            position: absolute;
            transform: translateY(-50%);
            margin-top: -10px;
            color: $primary !important;
            @include transition(.7s);
            span {
                &:before {
                    font-size: 30px;
                }
            }
            opacity: 0;
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }
    .owl-dots {
        text-align: center;
        .owl-dot {
            width: 10px;
            height: 10px;
            margin: 5px;
            border-radius: 50%;
            background: lighten($black, 90%);
            position: relative;
            &:after{
                position: absolute;
                top: -2px;
                left: -2px;
                right: 0;
                bottom: 0;
                width: 14px;
                height: 14px;
                content: '';
                border:1px solid lighten($black, 90%);
                @include border-radius(50%);
            }
            &.active {
                background: lighten($black, 70%);
            }
        }
    }
    &:hover{
        .owl-nav{
            .owl-prev,
            .owl-next{
                opacity: 1;
            }
            .owl-prev {
                left: -25px;
            }
            .owl-next {
                right: -25px;
            }
        }
    }
    &.home-slider {
        position: relative;
        height: 750px;
        z-index: 0;
        .slider-item {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 750px;
            position: relative;
            z-index: 0;
            @include media-breakpoint-down(lg){
                background-position: center center !important;
            }
            .overlay{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: $black;
                opacity: .3;
            }
            .slider-text {
                height: 750px;
                @include media-breakpoint-down(sm){
                    text-align: center;
                }
                .author{
                    .img{
                        width: 80px;
                        height: 80px;
                        display: block;
                        @include border-radius(50%);
                    }
                    .info{
                        width: calc(100% - 80px);
                        h3{
                            font-size: 20px;
                            margin-bottom: 0;
                            a{
                                font-weight: 600;
                                color: $black;
                                text-decoration: underline;
                            }
                            span{
                                color: $black;
                            }
                        }
                    }
                    span{
                        font-size: 18px;
                        color: lighten($black,70%);
                    }
                }
                .text{
                    @include media-breakpoint-up(md){
                        padding-left: 11%;
                        padding-right: 5%;
                    }
                    .text-2{
                        position: relative;
                        z-index: 0;
                        .big{
                            position: absolute;
                            top: -20px;
                            left: -60px;
                            font-size: 100px;
                            font-family: $font-secondary;
                            line-height: .8;
                            z-index: -1;
                            color: lighten($black,90%);
                        }
                    }
                }
                .subheading{
                    color: $black;
                    font-weight: 700;
                }
                h1 {
                    font-size: 40px;
                    color: $black;
                    line-height: 1.5;
                    font-weight: 700;
                    letter-spacing: 1px;
                    a{
                        color: $black;
                    }
                    @include media-breakpoint-down(md) {
                        font-size: 30px;
                    }
                }
                p {
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 300;
                    color: rgba(0,0,0,.7);
                    &.sub-p{
                        font-weight: 400;
                    }
                    strong{
                        font-weight: 700;
                        a{
                            color: $white;
                        }
                    }
                }
                //BREADCRUBS
                .breadcrumbs{
                    text-transform: uppercase;
                    font-size: 13px;
                    letter-spacing: 1px;
                    span{
                        border-bottom: 2px solid rgba(255,255,255,.1);
                        a{
                            color: $white;
                        }
                    }
                }
                &.slider-text-2{
                    color: $white;
                    h1{
                        font-size: 60px;
                        color: $white;
                        line-height: 1.3;
                    }
                    p{
                        color: rgba(255,255,255,.8);
                    }
                }
            }
        }
        .owl-nav {
            position: absolute;
            top: 100%;
            width: 100%;
            .owl-prev,
            .owl-next {
                position: absolute;
                transform: translateY(-50%);
                margin-top: -10px;
                outline: none !important;
                @include transition(.3s);
                span {
                    &:before {
                        font-size: 30px;
                        color: rgba(255,255,255,.5);
                        @include transition(.3s);
                    }
                }
                &:hover,&:focus{
                    span{
                        &:before{
                            color: $white;
                        }
                    }
                }
                opacity: 0;
            }
            .owl-prev {
                left: 50%;
                margin-left: -80px;
            }
            .owl-next {
                right: 50%;
                margin-right: -80px;
            }
        }
        &:hover{
            .owl-nav{
                .owl-prev,
                .owl-next{
                    opacity: 1;
                }
                .owl-prev {
                    left: 50%;
                    margin-left: -80px;
                }
                .owl-next {
                    right: 50%;
                    margin-right: -80px;
                }
            }
        }
        .owl-dots {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 40px;
            width: 100%;
            text-align: center;
            @include media-breakpoint-down(sm){
                bottom: 5px;
            }
            .owl-dot {
                width: 10px;
                height: 10px;
                margin: 5px;
                border-radius: 50%;
                background: rgba(255,255,255,.4);
                &.active {
                    background: $white;
                }
            }
        }
    }
}




.bg-light {
    background: #fafafa!important;
}

.bg-primary{
    background: $primary;
}


//BUTTON
.btn {
    cursor: pointer;
    @include border-radius(30px);
    box-shadow: none!important;
    &:hover, &:active, &:focus {
        outline: none;
    }
    &.btn-primary {
        background: $primary;
        border: 1px solid $primary;
        color: $white;
        &:hover {
            border: 1px solid $primary;
            background: transparent;
            color :$primary;
        }
        &.btn-outline-primary {
            border: 1px solid $primary;
            background: transparent;
            color :$primary;
            &:hover {
                border: 1px solid transparent;
                background: $primary;
                color :$white;
            }
        }
    }
    &.btn-white {
        background: $white;
        border: 1px solid $white;
        color: $black;
        &:hover, &:focus, &:active {
            border: 1px solid $white;
            color :$primary;
        }
        &.btn-outline-white {
            border-color: rgba($white, .8);
            background: none;
            @include border-radius(30px);
            border-width: 1px;
            color: $white;
            &:hover, &:focus, &:active {
                background: $white;
                border-color: $white;
                color: $primary;
            }
        }
    }
}



//INTRO
.ftco-intro{
    padding: 4em 0;
    padding-bottom: 0;
    h1{
        font-size: 34px;
        font-weight: 300;
        margin-bottom: 0;
        strong{
            font-weight: 700;
        }
    }
}


//BLOG ENTRY
.blog-entry{
    margin-bottom: 6em;
    .img{
        display: block;
        height: 400px;
        &.img-2{
            height: 300px;
        }
    }
    .text{
        position: relative;
        z-index: 0;
        .big{
            position: absolute;
            top: -20px;
            left: -60px;
            font-size: 100px;
            font-family: $font-secondary;
            line-height: .8;
            z-index: -1;
            color: lighten($black,92%);
        }
        h3{
            font-weight: 700;
            font-size: 32px;
            a{
                color: $black;
            }
        }
        .meta-wrap{
            width: 100%;
            display: block;
            .half{
                width: 50%;
            }
            .meta{
                span{
                    margin: 0 5px;
                    color: lighten($black,70%);
                    i{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .author{
        .img{
            width: 80px;
            height: 80px;
            display: block;
            @include border-radius(50%);
        }
        .info{
            width: calc(100% - 80px);
            h3{
                font-size: 20px;
                margin-bottom: 0;
                font-weight: 400;
                a{
                    font-weight: 600;
                    color: $black;
                    text-decoration: underline;
                }
                span{
                    color: $black;
                }
            }
        }
        span{
            font-size: 18px;
            color: lighten($black,70%);
        }
    }
    .text-2{
        .big{
            position: absolute;
            top: -10px;
            left: -20px;
            font-size: 60px;
            font-family: $font-secondary;
            line-height: .8;
            z-index: -1;
            color: lighten($black,92%);
        }
        h3{
            font-size: 24px;
            font-weight: 600;
        }
    }
    .author{
        .img{
            width: 60px;
            height: 60px;
            display: block;
            @include border-radius(50%);
        }
        .info{
            width: calc(100% - 60px);
            h3{
                font-size: 18px;
            }
        }
        span{
            font-size: 16px;
        }
    }
}

//
.destination-entry{
    display: block;
    height: 300px;
    position: relative;
    margin-bottom: 30px;
    z-index: 0;
    @include media-breakpoint-down(md){
        margin-bottom: 30px;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: $black;
        opacity: .3;
        z-index: -1;
    }
    .text{
        h3{
            margin-bottom: 0;
            color: $white;
            font-size: 20px;
        }
        span{
            color: rgba(255,255,255,.8);
        }
    }
}

//AUTHOR PAGE
.author-wrap{
    width: 100%;
    display: block;
    margin-bottom: 3em;
    .img{
        width: 200px;
        height: 200px;
    }
    .text{
        width: calc(100% - 200px);
        padding-left: 40px;
        h3{
            margin-bottom: 0;
            font-size: 22px;
            font-weight: 500;
        }
        span{
            font-size: 14px;
            color: lighten($black,70%);
            margin-bottom: 10px;
        }
    }
}


//### .block-3
.block-3 {
    @include media-breakpoint-up(md){
        margin-bottom: 7em;
    }
    .text, .image {
        width: 100%;
        padding: 10% 7%;
        display: block;
        @include media-breakpoint-up(md) {
            width: 50%;
            padding: 10% 7%;
        }
    }
    .text {
        .subheading {
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: .1em;
        }
        .heading {
            font-size: 30px;
            margin-bottom: 30px;
            a{
                color: $black;
            }
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .image {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            box-shadow: 20px 20px 0 0 lighten($primary,25%);
        }
        &.image-2{
            &:after{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                box-shadow: -20px 20px 0 0 lighten($primary,25%);
            }
        }
        @include media-breakpoint-down(sm) {
            height: 300px;
        }
    }
}


// USEFUL CODE
.aside-stretch{
    background: lighten($primary,10%);
    &:after{
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        content: '';
        width: 360%;
        background: lighten($primary,10%);
        // background: #333644;
    }
    @include media-breakpoint-down(sm){
        background: transparent;
        &:after{
            background: transparent;
            display: none;
        }
    }
}


.form-control {
    height: 52px!important;
    background: $white!important;
    color: $black!important;
    font-size: 18px;
    border-radius: 0px;
    box-shadow: none!important;
    &:focus, &:active {
        border-color: $black;
    }
}
textarea.form-control {
    height: inherit!important;
}

.ftco-animate {
    //opacity: 0;
    //visibility: hidden;
}

.bg-primary {
    background: $primary!important;
}
.ftco-section {
    .ftco-sub-title {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .5em;
        color: lighten(#ccc, 3%);
        font-family: $font-family-sans-serif;
        font-weight: 300;
    }
    .ftco-primary-title {
        margin-top: 0;
        margin-bottom: 30px;
    }
}


.about-author{
    img{
    }
    .desc{
        h3{
            font-size: 24px;
        }
    }
    .bio{

    }
}


.ftco-section {
    padding: 6em 0;
    position: relative;
    .container-fluid{
        @include media-breakpoint-up(md){
        }
    }
}

.ftco-bg-dark {
    background: #3c312e;
}


.ftco-footer {
    font-size: 14px;
    background: #141313;
    padding: 6em 0;
    .ftco-footer-logo {
        text-transform: uppercase;
        letter-spacing: .1em;
    }
    .ftco-footer-widget {
        h2 {
            font-weight: normal;
            color: $white;
            margin-bottom: 40px;
            font-size: 18px;
            font-weight: 400;
        }
        ul{
            li{
                a{
                    span{
                        color: $white;
                    }
                }
            }
        }
        .btn-primary{
            background: $white !important;
            border: 2px solid $white !important;
            &:hover{
                background: $white;
                border: 2px solid $white !important;
            }
        }
    }
    p {
        color: rgba($white, .7);
    }
    a {
        color: rgba($white, .7);
        &:hover {
            color: $white;
        }
    }
    .ftco-heading-2 {
        font-size: 17px;
        font-weight: 400;
        color: $black;
    }

    .categories{
        li{
            border-bottom: 1px solid rgba(255,255,255,.1);
            a{
                span{
                    color: rgba(255,255,255,.5) !important;
                }
            }
        }
    }
}


.ftco-footer-social {
    li {
        list-style: none;
        margin: 0 10px 0 0;
        display: inline-block;
        a {
            height: 50px;
            width: 50px;
            display: block;
            float: left;
            background: rgba($white, .05);
            border-radius: 50%;
            position: relative;
            span {
                position: absolute;
                font-size: 26px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover {
                color: $white;
            }
        }
    }
}
.footer-small-nav {
    > li {
        display: inline-block;
        a {
            margin: 0 10px 10px 0;
            &:hover, &:focus {
                color: $primary;
            }
        }
    }
}
.media {
    .ftco-icon {
        width: 100px;
        span {
            color: $primary;
        }
    }
}


// Map

#map {
    height: 400px;
    width: 100%;
    @include media-breakpoint-down(md) {
        height: 300px;
    }
}


@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba($primary, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba($primary, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba($primary, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba($primary, 0.4);
        box-shadow: 0 0 0 0 rgba($primary, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 30px rgba($primary, 0);
        box-shadow: 0 0 0 30px rgba($primary, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba($primary, 0);
        box-shadow: 0 0 0 0 rgba($primary, 0);
    }
}

.heading-section{
    .subheading{
        font-size: 14px;
        display: block;
        margin-bottom: 10px;
    }
    h2{
        font-size: 34px;
        font-weight: 700;
        @include media-breakpoint-down(sm){
            font-size: 28px;
        }
    }
    &.heading-section-white{
        .subheading{
            color: rgba(255,255,255,.9);
        }
        h2{
            font-size: 40px;
            color: $white;
        }
        p{
            color: rgba(255,255,255,.9);
        }
    }
}

//COVER BG
.hotel-img,
.hero-wrap,
.img,
.blog-img,
.user-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.hero-wrap {
    background-attachment: fixed;
}





//TESTIMONY
.testimony-section{
    position: relative;
    .owl-carousel{
        margin: 0;
    }
    .owl-carousel .owl-stage-outer{
        padding-top: 3.5em;
        padding-bottom: 2em;
        position: relative;
    }
    .owl-nav {
        position: absolute;
        top: 100%;
        width: 100%;
        .owl-prev,
        .owl-next {
            position: absolute;
            transform: translateY(-50%);
            margin-top: -10px;
            outline: none !important;
            @include transition(.3s);
            span {
                &:before {
                    font-size: 30px;
                    color: rgba(255,255,255,.5);
                    @include transition(.3s);
                }
            }
            &:hover,&:focus{
                span{
                    &:before{
                        color: $white;
                    }
                }
            }
            opacity: 0;
        }
        .owl-prev {
            left: 50%;
            margin-left: -80px;
        }
        .owl-next {
            right: 50%;
            margin-right: -80px;
        }
    }
    &:hover{
        .owl-nav{
            .owl-prev,
            .owl-next{
                opacity: 1;
            }
            .owl-prev {
                left: 50%;
                margin-left: -80px;
            }
            .owl-next {
                right: 50%;
                margin-right: -80px;
            }
        }
    }
    .owl-dots {
        text-align: center;
        .owl-dot {
            width: 10px;
            height: 10px;
            margin: 5px;
            border-radius: 50%;
            background: rgba(255,255,255,.4);
            &.active {
                background: $white;
            }
        }
    }
}
.testimony-wrap{
    display: block;
    position: relative;
    background: rgba(255,255,255,.1);
    color: rgba(255,255,255,.8);
    .user-img{
        width: 100px;
        height: 100px;
        border-radius: (50%);
        position: relative;
        margin-top: -75px;
        .quote{
            position: absolute;
            bottom: -10px;
            right: 0;
            width: 40px;
            height: 40px;
            background: $primary;
            @include border-radius(50%);
            i{
                color: $white;
            }
        }
    }
    .name{
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 0;
        color: $white;
    }
    .position{
        font-size: 13px;
    }
}

.about-image{
    @include media-breakpoint-down(sm){
        height: 400px;
        margin-bottom: 30px;
    }
}


// magnific pop up

.image-popup {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}



#section-counter{
    position: relative;
    z-index: 0;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        z-index: -1;
        opacity: .9;
        @include gradient-background();
    }
}
.ftco-counter {
    padding: 6em 0;
    @include media-breakpoint-down(lg){
        background-position: center center !important;
    }
    .icon{
        span{
        }
    }
    .text{
        strong.number{
            font-weight: 500;
            font-size: 40px;
            color: $white;
        }
        span{
            font-size: 16px;
            color: rgba(255,255,255,.8);
        }
    }
    .counter-wrap{
        @include media-breakpoint-down(sm){
            margin-bottom: 20px;
        }
    }
    .ftco-number {
        display: block;
        font-size: 72px;
        font-weight: bold;
        color: $primary;
    }
    .ftco-label {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .1em;
    }
}

.block-23 {
    ul {
        padding: 0;
        li {

            &, > a {
                display: table;
                line-height: 1.5;
                margin-bottom: 15px;
            }
            span{
                color: rgba($white, .7);
            }
            .icon, .text {
                display: table-cell;
                vertical-align: top;
            }
            .icon {
                width: 40px;
                font-size: 18px;
                padding-top: 2px;
                color: rgba($white, 1);
            }

        }
    }
}

.block-6 {
    margin-bottom: 40px;
    .icon {
        span {
            &:before {
            }
        }
    }
    .media-body {
        .heading {

        }
        p {
            font-size: 16px;
        }
    }
}

//### .block-10
.block-10 {
    .chef-img{
        height: 400px;
    }
    .person-info {
        height: 75px;
        span {
            display: block;
        }
        .name {
            font-size: 20px;
            color: $black;
            font-weight: 400;
        }
        .position {
            font-size: 14px;
        }
    }
}

//### .block-16
.block-16 {
    figure {
        position: relative;
        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            width: 90px;
            height: 90px;
            background: $white;
            display: block;
            border-radius: 50%;
            opacity: 1;
            &:hover {
                opacity: 1;
            }
            > span {
                position: absolute;
                left: 55%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.block-17 {
    background: $white;
    overflow: hidden;
    @include border-radius(2px);
    form {
        .fields {
            width: calc(100% - 80px);
            position: relative;
            .one-third {
                // width: 50%;
                background: $white;
                &:first-child {
                    // padding-left: 0;
                }
                &:last-child {
                    border-right: none;
                    border-left: 1px solid rgba(0,0,0,.1);
                }
                label{
                    font-weight: 700;
                    color: $black;
                }
            }
            .form-control {
                box-shadow: none!important;
                border: transparent;
                background: $white !important;
                color: lighten($black,30%) !important;
                border: 2px solid rgba(0,0,0,.1);
                font-size: 14px;
                width: 100%;
                height: 70px !important;
                bordeR: 1px solid transparent;
                padding: 10px 30px;
                @include border-radius(0);
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: lighten($black,30%);
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: lighten($black,30%);
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: lighten($black,30%);
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: lighten($black,30%);
                }
            }
            .icon {
                position: absolute;
                top: 50%;
                right: 30px;
                font-size: 14px;
                transform: translateY(-50%);
                color: rgba($black,.7);
                @include media-breakpoint-down(sm) {
                    right: 10px;
                }
            }
            .textfield-search, .select-wrap {
            }
            .textfield-search {
                input {

                }
            }
            .select-wrap {
                position: relative;
                select {
                    appearance: none;
                }
            }
        }
        .search-submit {
            width: 160px;
            background: $primary;
            border: 1px solid $primary;
            color: $white;
            padding: 12px 10px;
            @include media-breakpoint-down(sm){
                width: 80px;
            }
            @include border-radius(0);
            &:hover{
                background: $primary !important;
                color: $white !important;
                border: 1px solid $primary !important;
            }
        }
    }
}

//### .block-18
.block-18 {
    .icon, .text {
    }
    .icon {
        > span {
            font-size: 40px;
        }
    }
    .text {
        strong {
            font-size: 30px;
        }
        span {
            display: block;
        }
    }
}


.block-27 {
    ul {
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            margin-bottom: 4px;
            font-weight: 400;
            a,span {
                border: 1px solid $primary;
                text-align: center;
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
            }
            &.active {
                a, span {
                    background: $primary;
                    color: $white;
                    border: 1px solid transparent;
                }
            }
        }
    }
}


.block-8 {
    .accordion-item {
        .heading {
            font-size: 16px;
            font-weight: 400;
            padding: 10px 0;
            > a {
                padding-left: 35px;
                position: relative;
                color: $black;
                &:before {

                    width: 20px;
                    height: 20px;
                    line-height: 18px;
                    border: 1px solid #ccc;
                    text-align: center;
                    font-size: 18px;
                    top: .1em;
                    left: 0;
                }
                &[aria-expanded="true"] {
                    &:before {
                        font-family: 'icomoon';
                        position: absolute;
                        content: "\e316";
                        transition: .3s all ease;
                        background: $primary;
                        color: $white;
                        border: 1px solid $primary;
                    }
                }
                &[aria-expanded="false"] {
                    &:before {
                        content: "\e313";
                        color: #ccc;
                        font-family: 'icomoon';
                        position: absolute;

                        transition: .3s all ease;
                    }
                }

            }
        }
        .body-text {
            font-size: 16px;
            padding: 5px 0;
            padding-left: 30px;
        }
    }
}

//### .block-4
.contact-section {
    .contact-info{
        p{
            a{
                color: lighten($black,10%);
            }
            span{}
        }
    }
}
.block-9 {
    .form-control {
        outline: none!important;
        box-shadow: none!important;
        font-size: 15px;
    }
    #map {
    }
}


//### .block-21
.block-21 {
    .blog-img{
        display: block;
        height: 80px;
        width: 80px;
    }
    .text {
        width: calc(100% - 100px);
        .heading {
            font-size: 18px;
            font-weight: 300;
            a {
                color: $black;
                &:hover, &:active, &:focus {
                    color: $primary;
                }
            }
        }
        .meta {
            > div {
                display: inline-block;
                font-size: 12px;
                margin-right: 5px;
                a {
                    color: lighten($black, 50%);
                }
            }
        }
    }
}


/* Blog*/
.post-info {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
    letter-spacing: .1em;
    > div {
        display: inline-block;

        .seperator {
            display: inline-block;
            margin: 0 10px;
            opacity: .5;
        }
    }
}

.tagcloud {
    a {
        text-transform: uppercase;
        display: inline-block;
        padding: 4px 10px;
        margin-bottom: 7px;
        margin-right: 4px;
        border-radius: 4px;
        color: $black;
        border: 1px solid #ccc;
        font-size :11px;
        &:hover {
            border: 1px solid #000;
        }
    }
}

.comment-form-wrap {
    clear: both;
}

.comment-list {
    padding: 0;
    margin: 0;
    .children {
        padding: 50px 0 0 40px;
        margin: 0;
        float: left;
        width: 100%;
    }
    li {
        padding: 0;
        margin: 0 0 30px 0;
        float: left;
        width: 100%;
        clear: both;
        list-style: none;
        .vcard {
            width: 80px;
            float: left;
            img {
                width: 50px;
                border-radius: 50%;
            }
        }
        .comment-body {
            float: right;
            width: calc(100% - 80px);
            h3 {
                font-size: 20px;
            }
            .meta {
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: .1em;
                color: #ccc;
            }
            .reply {
                padding: 5px 10px;
                background: lighten($black, 90%);
                color: $black;
                text-transform: uppercase;
                font-size: 11px;
                letter-spacing: .1em;
                font-weight: 400;
                border-radius: 4px;
                &:hover {
                    color: $white;
                    background: lighten($black, 0%);
                }
            }
        }
    }
}

.search-form {
    background: lighten($black, 98%);
    padding: 10px;

    .form-group {
        position: relative;
        margin-bottom: 0;
        input {
            padding-right: 50px;
            font-size: 14px;
        }
    }
    .icon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
}

.subs-wrap{
    background: $primary !important;
    display: block;
    width: 100%;
    color: rgba(255,255,255,.7);
    h3{
        color: $white;
        font-size: 30px !important;
    }
}
.subscribe-form{
    .form-group {
        position: relative;
        margin-bottom: 0;
        @include border-radius(0);
        input {
            background: transparent !important;
            border: 1px solid transparent;
            color: rgba(255,255,255,.7) !important;
            font-size: 16px;
            @include border-radius(0);
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: rgba(255,255,255,.7) !important;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: rgba(255,255,255,.7) !important;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: rgba(255,255,255,.7) !important;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: rgba(255,255,255,.7) !important;
            }
        }
        .form-control{
            bordeR: 1px solid rgba(255,255,255,.4);
        }
        .submit{
            color: $black !important;
            display: block;
            width: 100%;
            height: 52px;
            font-size: 16px;
            background: $white !important;
            @include border-radius(0);
            &:hover{
                cursor: pointer;
            }
        }
    }
    .icon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        color: rgba(255,255,255,.8);
    }
}

// sidebar
.sidebar-box {
    margin-bottom: 30px;
    padding: 25px;
    font-size: 15px;
    width: 100%;
    h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

.categories, .sidelink {
    padding: 0;
    li {
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid gray('300');
        list-style: none;
        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
            padding-bottom: 0;
        }
        a {
            display: block;
            span {
                position: absolute;
                right: 0;
                top: 0;
                color: #ccc;
            }
        }
        &.active {
            a {
                color: $black;
                font-style: italic;
            }
        }
    }
}



#ftco-loader {
    position: fixed;
    width:  96px;
    height: 96px;
    left:  50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
    border-radius:16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index:1000;
}

#ftco-loader.fullscreen {
    padding:  0;
    left:  0;
    top:  0;
    width:  100%;
    height: 100%;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
}

#ftco-loader.show {
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#ftco-loader .circular {
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left:  calc(50% - 24px);
    top:  calc(50% - 24px);
    display: block;
    transform: rotate(0deg);
}

#ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes loader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}
