/* montserrat-200 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-200.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-200.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-300 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Light'), local('Montserrat-Light'),
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/montserrat/montserrat-v13-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
