/* yeseva-one-regular - latin */
@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/yeseva/yeseva-one-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Yeseva One Regular'), local('YesevaOne-Regular'),
    url('../../fonts/yeseva/yeseva-one-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/yeseva/yeseva-one-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/yeseva/yeseva-one-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/yeseva/yeseva-one-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/yeseva/yeseva-one-v13-latin-regular.svg#YesevaOne') format('svg'); /* Legacy iOS */
}
